@import "../../variables";
.toggle-sidebar-btn {
  position: fixed;
  z-index: 3;
  top: 5px;
  left: 60px;
  font-size: 32px;
  padding-left: 10px;
  cursor: pointer;
  color: #fff;
  display: none;
  @media (max-width: 1199px) {
    display: block;
  }
  @media screen and (min-width: 1000px) {
    left: 180px;
  }
}

.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: $tab;

  &.width_toggle {
    @media (max-width: 1199px) {
      left: -300px;
    }
  }

  &::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
  }

  .sidebar-nav {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      padding: 0;
      margin: 0;
      list-style: none;

      .nav-item {
        margin-bottom: 5px;
      }

      .active {
        background-color: #cbdbed;
      }
      .nav-link {
        display: flex;
        align-items: center;
        font-size: 15px;
        font-weight: 600;
        color: #4154f1;
        transition: 0.3;
        padding: 10px 15px;
        border-radius: 4px;

        i {
          font-size: 16px;
          margin-right: 10px;
          color: $heading-color2;
        }

        &:hover {
          color: $heading-color1;
          background: #d7dbe561;

          i {
            color: $heading-color1;
          }
        }
      }
    }
  }
}
//Main
#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
  width: calc(100% - 300px);
  @media (max-width: 1199px) {
    padding: 20px;
    width: 100%;
  }
  @media (min-width: 1200px) {
    &,
    & + #footer {
      margin-left: 300px;
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: calc(100% - 300px);
  background-color: #fff;
  padding: 10px 0;
  font-size: 14px;
  transition: all 0.3s;
  @media (max-width: 1199px) {
    width: 100%;
  }

  .copyright {
    text-align: center;
    color: $heading-color2;
  }

  .credits {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    color: $heading-color2;
  }
}

.below {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 0 20px !important;
  bottom: 10px;
}
