@import "../../variables";
@keyframes timerAnimation {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.timer-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $tab;
  height: 2px;
  animation: timerAnimation 5s linear;
}
.slide-in-right {
  animation: slideInRight 1s ease-in-out;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.alert {
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem;
  height: 35px;
  color: $bg-color;
  border: none !important;
  button {
    margin-left: 20px;
    font-size: 10px;
  }
  .message {
    flex-grow: 1;
  }
  .bi {
    margin-right: 0.5rem;
  }
  &-danger {
    background-color: rgba(251, 101, 121, 0.918);
  }
}
