$bg-color: #0b1a7d;
$bg-color1: rgba(32, 72, 193, 0.752);
$bg-color2: rgba(38, 86, 197, 0.783);
$bg-color3: rgba(38, 86, 197, 1);
$heading-color1: rgba(11, 74, 176, 0.856);
$heading-color2: rgba(21, 49, 174, 0.904);
$tab: #fffffff5;
