@import "../../variables";
.container {
  position: relative;
  // top: 60px;
}

.ticked {
  background-color: rgb(31, 2, 144);
  i {
    color: white;
  }
}
section {
  overflow: hidden;
}

.section {
  padding: 2.3rem 10px;
}

.section-heading {
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(-45deg, $heading-color2, $heading-color1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.feature-1 {
  .wrap-icon {
    margin: 0 auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &.icon-1 {
      background: linear-gradient(-45deg, $heading-color2, $heading-color1);
    }

    i {
      font-size: 40px;
      line-height: 0;
      color: #fff;
    }
  }

  h3 {
    font-size: 23px;
    font-weight: bold;
    color: $heading-color2;
  }

  p {
    color: $heading-color1;
  }
}

.form-control {
  height: 48px;
  border-radius: 0;
  border: 1px solid #dae0e5;

  &:active,
  &:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #2d71a1;
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
input::placeholder {
  color: $bg-color1;
}
.input-group .input-group-text {
  border: 1px solid $heading-color1;
  border-radius: 0;
  background: none;
  i {
    font-size: 20px;
    text-align: center;
    color: $heading-color2;
  }
}
.hero-section {
  background: linear-gradient(to right, $bg-color1 0%, $bg-color2 100%),
    url(../../../assets//home/hero-bg.jpg);
  position: relative;

  .wave {
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    bottom: -150px;
    @media screen and (max-width: 1200px) {
      display: none;
    }

    svg {
      width: 100%;
      height: auto;
    }
  }

  &,
  > .container > .row {
    height: 100vh;
    @media screen and (max-width: 1200px) {
      height: 450px;
    }
  }

  &.inner-page {
    height: 60vh;
    min-height: 0;

    .hero-text {
      transform: translateY(-150px);
      margin-top: -120px;
    }
  }

  h1 {
    font-size: 3.5rem;
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px;
    @media screen and (max-width: 600px) {
      font-size: 2rem;
    }
  }

  p {
    color: #fff;
  }

  .iphone-wrap {
    position: relative;

    .phone-1 {
      top: -50%;
      overflow: hidden;
      left: 0;
      border-radius: 30px;
      width: 400px;
      @media screen and (max-width: 950px) {
        display: none;
      }
    }
  }
}

footer {
  padding: 30px 10px;
  background: $heading-color2;
  color: #fff;

  ul li {
    margin-bottom: 10px;

    a {
      text-decoration: none;
      cursor: pointer;
      color: #fff;
    }
  }
}
